@media only screen and (max-width:450px) {
    main{
        display: block
    }
    
    .left-main{
        width: 100%;
        height: 25%;
    }
    .right-main{
        width: 100%;
    }

    .icon-animation{
        font-size: 3rem;
    }

    .text-down-icon{
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }

    .animation-dayere1{
        margin-bottom: 7rem;
    }

    .animation-dayere2{
        margin-bottom: 7rem;
    }
    .animation-dayere3{
        margin-bottom: 7rem;
    }

    .button-right-main{
        display: none;
    }
    .div-p{
        display: none;
    }

    .div-h1{
        margin-left: 2rem;

    }

    h1{
        font-size: 1.5rem;
    }

    .div-input1{
        margin-top: 1rem;
        margin-bottom: 4rem;
        width: 80%;
    }
    .input-1{
        width: 100%;
    }

    .placeholder::placeholder{
        text-align: right;
    }

    .animation-dayere1{
        border: 1px solid #ffffff62;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        position: absolute;
        animation-name: dayere;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: white;
        opacity: 20%;
    
    }
    
    @keyframes dayere{
        100%{
            width: 30rem;
            height: 13rem;
        }
    }
    .animation-dayere2{
        border: 1px solid #ffffff62;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        position: absolute;
        animation-name: dayere;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: white;
        opacity: 20%;
    
    }
    
    @keyframes dayere2{
        100%{
            width: 30rem;
            height: 13rem;
        }
    }
    .animation-dayere3{
        border: 1px solid #ffffff62;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        position: absolute;
        animation-name: dayere;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: white;
        opacity: 20%;
    
    }
    
    @keyframes dayere3{
        100%{
            width: 30rem;
            height: 13rem;
        }
    }  
    
    
    
}

.input-3{
    width: 12rem;
    
}

.div-button-bluebox{
    margin-top: 3rem;
    margin-left: 2.5rem;

}

.img-responsive{
    margin-top: 2.5rem;
}